.ejemplo-card{
    max-width: 400px;
    margin-left: 25%;
  }
  .ejemplo-header-image {
    background-image: url('https://i.postimg.cc/hvbbLJ7K/logo1.png" alt="Foto de logo de empresa Archyfot');
    background-size: cover;
  }
  