<mat-card class= "validar-password">
    <mat-card-header>
        <mat-card-title class = "center">
            Verificación de identidad.
        </mat-card-title>
        <mat-card-subtitle class = "center">ArchySoft</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class= "custom-form" method="POST">
            <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Paswword"
            required="requiered"
            />
            <button mat-button (click)="verificar_passsword()"> validar</button>
        </form>

    </mat-card-content>
</mat-card>
